<div class="respond_clear"></div>

<div class="col-lg-4 col-md-4 padbot30">
  <h4><b>{{ 'Contact Us' }}</b></h4>

  <div class="span9 contact_form">
    <div id="note"></div>
    <div id="fields">
      {{ form }}
    </div>
  </div>
</div>
