{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'services_block',
    'padbot40',
    'region-' ~ region|clean_class,
  ]
%}

{% if content %}
  <div class="container">
    <h2><b>{{ 'Why'|t }}</b> {{ 'choose us'|t }}</h2>
    <div {{ attributes.addClass(classes) }} data-appear-top-offset="-200" data-animated="fadeInUp">
      {{ content }}
      </div>
  </div>
{% endif %}
